<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="d4f1d4fc-69b2-4240-9627-b2ff603e62e8"
    Publisher="CN=lanxia"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d4f1d4fc-69b2-4240-9627-b2ff603e62e8" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ImageViewer</DisplayName>
    <PublisherDisplayName>lanxia</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ImageViewer.App"
      desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="Viewer"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="An image viewer to go with ComicsViewer"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="image">
            <uap:SupportedFileTypes>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.heic</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.tif</uap:FileType>
              <uap:FileType>.tiff</uap:FileType>
              <uap:FileType>.webp</uap:FileType>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Image</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="comics-imageviewer">
            <uap:DisplayName>Comics - ImageViewer</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="broadFileSystemAccess" />
    <Capability Name="internetClient"/>
  </Capabilities>
</Package>